[user]
name = Paul Berberian
email = paul.berberian@proton.me
[diff]
noprefix = true
colorMoved = default
[merge]
conflictstyle = zdiff3
[core]
pager = delta
[interactive]
diffFilter = delta --color-only
[delta]
navigate = true
line-numbers = true
[help]
autocorrect = prompt
[rerere]
enabled = true
autoupdate = true
[column]
ui = auto
[branch]
sort = -committerdate
[tag]
sort = version:refname
[push]
default = simple
autoSetupRemote = true
followTags = true
[commit]
verbose = true
