Xft*dpi: 192
! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font: xft:Iosevka Term:size=12:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.transparent: true
URxvt.shading:40
URxvt.visualBell:true
urxvt*blurRadius:10
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #858585
! *.color8:       #57606f

! red
*.color1:       #ee7878
*.color9:       #ff4444

! green
*.color2:       #6da950
*.color10:      #96ec8c

! yellow
*.color3:       #ffec6c
*.color11:      #f2e69d

! blue
*.color4:       #87b3d7
*.color12:      #98b9d6

! magenta
*.color5:       #de7aff
*.color13:      #ecaeff

! cyan
*.color6:       #87ffef
*.color14:      #b1fff3

! white
*.color7:       #909090
*.color15:      #dadada

! xterm
XTerm*faceName: Inconsolata For Powerline:size=13
