! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font: xft:Inconsolata Nerd Font Mono:size=12:antialias=true, xft:DejaVu Sans:size=12
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.transparent: true
URxvt.shading:50
URxvt.visualBell:true
urxvt*blurRadius: 20
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! special
*.foreground:     #ffffff
*.background:     #000000
*.cursorColor:    #ffffff
*.underlineColor: #aaaaaa

! black
*.color0:       #000000
*.color8:       #5d5d5d

! red
*.color1:       #cc7373
*.color9:       #ff3d3d

! green
*.color2:       #74c469
*.color10:      #9ef890

! yellow
*.color3:       #bab976
*.color11:      #fefd8b

! blue
*.color4:       #a7d6ff
*.color12:      #bce0ff

! magenta
*.color5:       #cb1ed1
*.color13:      #fd28ff

! cyan
*.color6:       #8dd7d7
*.color14:      #96ffff

! white
*.color7:       #e5e5e5
*.color15:      #ffffff

! xterm
XTerm*faceName: Inconsolata For Powerline:size=13
