* {
  border: none;
  border-radius: 0;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.0);
  color: #e5e9f0;
}

#clock, #battery, #cpu, #memory, #temperature, #language, #window, #workspaces, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
  background-color: rgba(0, 20, 25, 0.5);
  border-radius: 25px;
  padding: 5px 20px;
  margin: 2px;
}

#workspaces {
  background-color: rgba(0, 20, 25, 0.8);
}

#workspaces button {
  transition: none;
  border: none;

  font-weight: bold;
  padding: 2px 4px;
  background: transparent;
  margin: 0px 3px;
  color: #fff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  transition: none;
  border: none;

  padding: 0 4px;
  box-shadow: inherit;
  text-shadow: inherit;

  background-color: #004411;
  border-radius: 24px;
}

#workspaces button.active {
  color: #ffffff;
  background-color: #77cc77;
  border-radius: 24px;
  color: #000;
  /* border-bottom: 2px solid #99ff99; */
}

#workspaces button.urgent {
  background-color: #bf616a;
  border-radius: 24px;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock, #workspaces {
  padding: 5px 11px;
}

#clock {
  background-color: #77cc77;
  color: #333;
  font-weight: bold;
}

#battery {
  color: #e5e9f0;
}

#battery.charging {
  color: #e5e9f0;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: #e5e9f0;
}

#memory {
  color: #e5e9f0;
}

#backlight {
  color: #e5e9f0;
}

#network {
  color: #e5e9f0;
}

#network.disconnected {
  color: #e5e9f0;
}

#pulseaudio {
  color: #e5e9f0;
}

#pulseaudio.muted {
  color: #e5e9f0;
}

#custom-media {
  background: #66cc99;
  color: #2a5c45;
}

.custom-spotify {
  background: #66cc99;
}

.custom-vlc {
  background: #ffa000;
}

#temperature {
  background: #f0932b;
}

#temperature.critical {
  background: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}
